.content{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". content .";
    padding: 64px 0;
    background-color: #FEEEDB;

    @include md{
        padding: 100px 0;
        grid-template-columns: auto 50% auto;
    }
    @include lg{
        padding: 120px 0;
        grid-template-columns: auto 50% auto;
    }
    @include xl{
        grid-template-columns: auto 50% auto;
    }
    >div{
        grid-area: content;
        color: #2D1902;

        @include lg{
            padding: 0 100px;
        }
        h2{
            text-align: center;
            font-size: rem-calc(35);
            margin-bottom: 10px;
            border-left: 40px solid #705637;
            border-right: 40px solid #705637;
        }
        p{
            font-size: rem-calc(15);
            line-height: rem-calc(20);
            text-align: justify;
        }
    }
}