.hero{
    height: 80vh;
    width: 100%;
    overflow: hidden;

    @include xl{
            display: grid;
            grid-template-areas: ". hero .";
            grid-template-columns: auto 1440px auto;
    }

    >div{
        background-image: url("../img/Hero/hero.jpg");
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;

        @include xl{
            grid-area: hero;
        }

        section{
            color: #F3C276;
            text-align: center;

            h1{
                font-size: rem-calc(60);
                font-weight: 400;
                position: absolute;
                left: 10px;
                bottom: 10px;
                
                @include md{
                    font-size: rem-calc(70);
                }
                @include md{
                    font-size: rem-calc(80);
                }
            }
        }
    }
    
}