#preloader{

    display: grid;
    grid-template-columns: auto 100vw auto;
    grid-template-areas: ". preloader .";
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 5000;
    background-color: $lightbrown;
    top: 0;
    left: 0;

    @include md{
        grid-template-columns: auto 80vw auto;
    }

    @include lg{
        grid-template-columns: auto 70vw auto;
    }

    @include xl{
        grid-template-columns: auto 60vw auto;
    }

    >div{

        grid-area: preloader;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

        svg{
            position: absolute;
        }
    }
}